
        <div >
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" id="grid" width="600" height="500" preserveAspectRatio="none" overflow="visible">
		
                <svg:g id="groupWrapper" transform="translate(0.5, 0.5) scale(1)">

                <!-- CANVAS -->
                    <g id="groupCanvas" transform="translate(80, 25)" cursor="default">
                        <rect id="backgroundCanvas" x="-1" y="-1" width="502" height="411" stroke="blue" style="fill:white;stroke-width:1;fill-opacity:0;stroke-opacity:1"/>
                        <g id="staticimages">
                            <image id="backgroundimage_8_1" transform="translate(-0.5, -0.5)" [attr.xlink:href]="backgroundImage" x="0" y="0" width="500" height="410" display="inline"/>
                        </g>               
                    <g>
                   
                    <svg:rect  *ngFor="let el of numberOfLineMarkers; let idx = index" (click)='onMarkerClick($event)' fill="blue" stroke='blue' style="opacity:0" height="20" stroke-width="4" width="4" [attr.x]="37 + (idx * 13)" y="60"></svg:rect>
 
                    <svg:rect [attr.stroke]="(totalBagsSelected == 2) ? 'blue': 'white'"  (click)="selectTotalBags(2)" fill-opacity="0.0" height="35" stroke-width="2" width="110" x="90" y="280" xmlns="http://www.w3.org/2000/svg"></svg:rect>
                    <svg:rect [attr.stroke]="(totalBagsSelected == 8) ? 'blue': 'white'" (click)="selectTotalBags(8)" fill-opacity="0.0" height="35" stroke-width="2" width="110" x="90" y="330" xmlns="http://www.w3.org/2000/svg" ></svg:rect>
                    <svg:rect [attr.stroke]="(totalBagsSelected == 16) ? 'blue': 'white'"  (click)="selectTotalBags(16)" fill-opacity="0.0"  height="35" stroke="blue" stroke-width="2" width="110" x="275" y="330" xmlns="http://www.w3.org/2000/svg" ></svg:rect>              
                    <svg:rect [attr.stroke]="(totalBagsSelected == 4) ? 'blue': 'white'" (click)="selectTotalBags(4)" fill-opacity="0.0"  height="35" stroke="blue" stroke-width="2" width="110" x="275" y="280" xmlns="http://www.w3.org/2000/svg" ></svg:rect>
                </g></g>

                <!-- FEEDBACK -->
                <!--<g id="groupFeedback" transform="translate(80, 440)" display="inline">
                <rect id="backgroundFeedback" x="0" y="0" width="502" height="30" style="fill:white;stroke:lightblue;stroke-width:1;fill-opacity:0;stroke-opacity:1"/>
                <text id="feedback" x="5" y="18" font-family="Arial" font-size="12" fill="blue"></text>
                <text id="coordinates" x="450" y="18" font-family="Arial" font-size="12" fill="black"/>
                </g>       -->
                </g>     
            </svg>
        </div>
