<div class="biggestcontainer" style="text-align:center">

<h1 align="center">Welcome to the Acaletic Sample Questions</h1>
  <h2 align="center">User Acceptance Testing Environment</h2>

  <div>Please note that this website is for the demonstration of products procuded for Educational Development Associates, Inc. Unauthorized access is strictly prohibited</div>
  <p><img src="/app/sample-questions/images/LogoFinal.png" alt="Acaletics Logo" width="222" height="188" vspace="20"></p>
  <div>
    <a class="btn btn-primary" [routerLink]="['QuestionList']" role="button" style="color:white">Continue</a>
  </div>
</div>