<header class="banner navbar" role="banner" style="height:50px">
    <div class="navbar-inner">
        <img [attr.src]="Logo" alt="MeetingResult" class="logo" style="height:30px">
        <span id="name-wrap"><span id="name">Sample Test Preview</span></span>
    </div>
</header>

<div class="flipbook-viewport">
    <div class="container">
        <div class="flipbook" id="flipbook">
            <div>
                <div align="center" style="padding:10px">

                    <h1 align="center">Welcome to the Acaletic Sample Questions</h1>
                    <br/>
                    <h2 align="center">User Acceptance Testing Environment</h2>
                    <br/>
                    <div>Please note that this website is for the demonstration of products produced for Educational Development
                        Associates, Inc. <br/>Unauthorized access is strictly prohibited</div>
                    <br/>
                    <p><img [attr.src]="Logo" alt="Acaletics Logo" width="222" height="188" vspace="20"></p>
                    <br/>
                    <div>
                        <button class="btn btn-primary" (click)="nextQuestion()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> Start</button>
                    </div>
                </div>
            </div>

            <!--Page 1-->
            <div>
                <div class="questionDescription padding20 mq-math-mode" style="font-size: 16px;">
                    <p>Click on the number line that should be used to correctly plot the fraction <span class="mq-fraction mq-non-leaf" ><span class="mq-numerator"><span>2</span></span><span class="mq-denominator"><span>3</span></span><span style="display:inline-block;width:0">​</span></span>.
                    <br/><br/>
                    <p>Then, drag the fraction to show its correct location on the selected number line.</p>
                </div>
                <div class="actionBtns">
                    <button class="btn btn-primary" (click)="prevQuestion()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button class="btn btn-primary" (click)="nextQuestion()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continue</button>
                </div>
            </div>
            <div>
                <div style="text-align: left;" class="padding20">
                    <question-type1 (isCorrect)="onQuestionAnswerChange(1, $event)" class="bb-item"></question-type1>
                </div>
            </div>

            <!--Page 2-->
            <div>
                <div class="questionDescription padding20 mq-math-mode" style="font-size: 16px;">
                    <p>
                        Mike has 8 pounds of candy. He wants to put the candy into bags so that each bag has <span class="mq-fraction mq-non-leaf" ><span class="mq-numerator"><span>1</span></span><span class="mq-denominator"><span>2</span></span><span style="display:inline-block;width:0">​</span></span> pound of candy.</p>
                    <p style="" lang="en-us">&nbsp;</p>
                    <p lang="en-us"></p>
                    <dl lang="en-us"><dt style="float: left; margin-top: 1px; margin-bottom: -1em;" lang="en-us">A.</dt>
                        <dd style="float: top;padding-left:1.5000em; padding-left:1.5000em; " lang="en-us">
                            <p style="" lang="en-us">Click on the number line to create sections that model how <span id="item_14959_TAG_4_BEGIN"
                                    lang="en-us">Mike</span> can put all the candy evenly into bags.</p>
                            <p style="" lang="en-us">&nbsp;</p>
                        </dd><dt style="float: left; margin-top: 1px; margin-bottom: -1em;" lang="en-us">B.</dt>
                        <dd style="float: top;padding-left:1.5000em; padding-left:1.5000em; " lang="en-us">
                            <p style="" lang="en-us">Click on the total number of bags that <span id="item_14959_TAG_5_BEGIN" lang="en-us">Mike</span>                                can <span id="item_14959_TAG_3_BEGIN" lang="en-us">make.</span></p>
                        </dd>
                    </dl>
                </div>
                <div class="actionBtns">
                    <button class="btn btn-primary" (click)="prevQuestion()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button class="btn btn-primary" (click)="nextQuestion()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continue</button>
                </div>
            </div>
            <div>
                <div style="text-align: left;" class="padding20">
                    <question-type2 (isCorrect)="onQuestionAnswerChange(2, $event)" class="bb-item"></question-type2>
                </div>
            </div>

            <!--Page 3-->
            <div>
                <div class="questionDescription padding20">
                    <p>An expression is described in words.</p>
                     <p>"Add 6 and 15, triple the sum, and then add two‐fifths."</p>
                     <p>Create the expression using numbers and symbols. </p>
                </div>
                <div class="actionBtns">
                    <button class="btn btn-primary" (click)="prevQuestion()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button class="btn btn-primary" (click)="nextQuestion()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continue</button>
                </div>
            </div>
            <div>
                <div style="text-align: left;" class="padding20">
                    <question-type3 (isCorrect)="onQuestionAnswerChange(3, $event)" class="bb-item"></question-type3>
                </div>
            </div>

            <!--Page 4-->
            <div>
                <div class="questionDescription padding20">
                    <p>Two descriptions are given.</p>
                    <ul>
                        <li>If the shape cannot be drawn click "Cannot be drawn"</li>
                        <li>If the shape can be drawn use the Connect line tool to draw an example of the shape</li>
                    </ul>
                </div>
                <div class="actionBtns">
                    <button class="btn btn-primary" (click)="prevQuestion()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                    <button class="btn btn-primary" (click)="nextQuestion()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continue</button>

                </div>
            </div>
            <div>
                <div style="text-align: left;" class="padding20">
                    <question-type4 (isCorrect)="onQuestionAnswerChange(4, $event)" class="bb-item"></question-type4>
                </div>
            </div>
            <div>
                <div class="row" class="bb-item padding20">
                    <div class="card col-md-10 col-md-offset-1">
                        <div class="row">
                            <h3 class="card-header col-md-12" style="text-align:center">Your Results</h3>
                        </div>
                        <div class="card-block">
                            <table style="width:100%;font-size: 1.2em">
                                <tr style="padding-bottom:10px">
                                    <th>Question</th>
                                    <th>Was Answer Correct</th>
                                </tr>
                                <tr>
                                    <td>Question 1</td>
                                    <td>{{isCorrectQuestions[1] ? "Correct" : "Wrong"}}</td>
                                </tr>
                                <tr>
                                    <td>Question 2</td>
                                    <td>{{isCorrectQuestions[2] ? "Correct" : "Wrong"}}</td>
                                </tr>
                                <tr>
                                    <td>Question 3</td>
                                    <td>{{isCorrectQuestions[3] ? "Correct" : "Wrong"}}</td>
                                </tr>
                                <tr>
                                    <td>Question 4</td>
                                    <td>{{isCorrectQuestions[4] ? "Correct" : "Wrong"}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="actionBtns">
                        <button class="btn btn-primary" style="margin-top:10px" (click)="startOver()" type="button"><i class="fa fa-repeat" aria-hidden="true"></i> Start Over</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>