
        <div>
            <div class="question-type-3" style="width:570px;">
                <div id="studentAnswer" style="display:block; border-width:1px; border-style:solid">
                    <math-input-field [answer]="currentAnswer" (answerChanged)="onAnswerChanged($event)"></math-input-field>
                </div>
                <div class="toolbar" lang="en-us" style="display:block; border-width:1px; border-style:solid">
                    <button class="mje_nav_next" mathquillonkey="Left" (click)='onMoveLeft()'>←</button>
                    <button class="mje_nav_prev" mathquillonkey="Right" lang="en-us">→</button>
                    <button class="mje_nav_undo" callselfmethod="undo" (click)='onUndoClick()'>Undo</button>
                    <button class="mje_nav_redo" callselfmethod="redo" (click)='onRedoClick()'>Redo</button>
                    <button class="mje_nav_del" mathquillonkey="Backspace" (click)='onBackspace()'>⇐</button>
                </div>
                <div class="keyboard" style="display:block; border-width:1px; border-style:solid; text-align:left">
                    <div class="keyboard-body" lang="en-us">
                        <div class="keyboard-grid" lang="en-us">
                            <div class="keyboard-col" lang="en-us">
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="one" (click)='onKeyClick($event,"1")'>1</div>
                                    <div class="keyboard-item" aria-label="two" (click)='onKeyClick($event,"2")'>2</div>
                                    <div class="keyboard-item" aria-label="three" (click)='onKeyClick($event,"3")'>3</div>
                                </div>
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="four" (click)='onKeyClick($event,"4")'>4</div>
                                    <div class="keyboard-item" aria-label="five" (click)='onKeyClick($event,"5")'>5</div>
                                    <div class="keyboard-item" aria-label="six" (click)='onKeyClick($event,"6")'>6</div>
                                </div>
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="seven" (click)='onKeyClick($event,"7")'>7</div>
                                    <div class="keyboard-item" aria-label="eight" (click)='onKeyClick($event,"8")'>8</div>
                                    <div class="keyboard-item" aria-label="nine" (click)='onKeyClick($event,"9")'>9</div>
                                </div>
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="zero" (click)='onKeyClick($event,"0")'>0</div>
                                    <div class="keyboard-item" aria-label="period" (click)='onKeyClick($event,".")'>.</div>
                                    <div class="keyboard-item mje_button_fraction" aria-label="fraction" (click)='onKeyClick($event,"/")'>
                                        <img [attr.src]="KeyboardFracImg" />
                                    </div>
                                </div>
                            </div>
                            <div class="keyboard-col" lang="en-us">
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="plus"(click)='onKeyClick($event,"+")'>+</div>
                                    <div class="keyboard-item" aria-label="minus" (click)='onKeyClick($event,"-")'>-</div>
                                    <div class="keyboard-item" aria-label="multiply" (click)='onKeyClick($event,"\\times")'>×</div>
                                    <div class="keyboard-item" aria-label="divison" (click)='onKeyClick($event,"÷")'>÷</div>
                                </div>
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item" aria-label="Less Than" (click)='onKeyClick($event,"<")'>&lt;</div>
                                    <div class="keyboard-item" aria-label="Equals" (click)='onKeyClick($event,"=")'>=</div>
                                    <div class="keyboard-item" aria-label="Greater Than Equal To" (click)='onKeyClick($event,">")'>&gt;</div>
                                </div>
                                <div class="keyboard-grid-row" lang="en-us">
                                    <div class="keyboard-item mje_button_sup" aria-label="exponent" (click)='onKeyClick($event,"^")'>
                                        <img [attr.src]="KeyboardPowerImg" />
                                    </div>
                                    <div class="keyboard-item" aria-label="parentheses" (click)='onKeyClick($event,"(")'>( )</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 