
        <div>
            <div class="qt4">
                <div class="qt4-toolbar">
                    <button (click)="onDeleteMode()"><i class="fa fa-eraser" aria-hidden="true"></i> Delete</button>
                    <button (click)="onPointMode()"><i class="fa fa-circle" aria-hidden="true"></i> Add Point</button>
                    <button (click)="onLineMode()"><i class="fa fa-arrows-h" aria-hidden="true"></i> Connect Lines</button>
                </div>
                
                <div class="qt4-workspace">
                    <graph-workspace title="Rectangle that is not a square" show-can-not-draw="True" [draw-mode]="selectedMode" (onAnswerChange)="onQ1AnswerChange($event)" ></graph-workspace>
                    <graph-workspace title="Square that is a rectangle" show-can-not-draw="True" [draw-mode]="selectedMode" (onAnswerChange)="onQ2AnswerChange($event)"></graph-workspace>
                </div>
                <div class="qt4-feedback">
                    
                </div>
            </div>
        </div>
