<div class="graph-workspace" (keyup)="onKeyPress($event)" tabindex="1" >
       <div class="title">{{title}}</div>
       <div class="canNotDraw"><label><input type="checkbox" class="canNotDrawCheckbox" [(ngModel)]="canNotDraw" />Cannot be drawn</label></div>
       <div class="drawingSurface">
            <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" width="250" height="150" >
                  <svg:image  (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMovMouse($event)"  xmlns:xlink="http://www.w3.org/1999/xlink" [attr.xlink:href]="DrawingSurfaceImg" display="inline" width="244" height="145" ></svg:image>     
                  <g *ngFor="let curLine of Lines; let idx = index">
                        <circle [attr.data-index]="idx" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" data-node-type="line" xmlns="http://www.w3.org/2000/svg" id="point_1_85" [attr.cx]="curLine.startX" [attr.cy]="curLine.startY" transform="translate(3, 3)" r="4.6" fill="red" stroke="blue" stroke-width="0" stroke-dasharray="" display="inline"/>
                        <line [attr.data-index]="idx" data-node-type="line" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" [attr.x1]="curLine.startX" [attr.y1]="curLine.startY" [attr.x2]="curLine.endX" [attr.y2]="curLine.endY" style="stroke:rgb(255,0,0);stroke-width:2" transform="translate(3, 3)" />
                        <circle [attr.data-index]="idx" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" data-node-type="line"  xmlns="http://www.w3.org/2000/svg" id="point_1_85" [attr.cx]="curLine.endX" [attr.cy]="curLine.endY" transform="translate(3, 3)" r="4.6" fill="red" stroke="blue" stroke-width="0" stroke-dasharray="" display="inline"/>
                  </g>             
                  <circle *ngFor="let curPoint of Points; let idx = index" [attr.data-index]="idx" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" data-node-type="point"  xmlns="http://www.w3.org/2000/svg" id="point_1_85" [attr.cx]="curPoint.x" [attr.cy]="curPoint.y" transform="translate(3, 3)" r="4.6" fill="red" stroke="blue" stroke-width="0" stroke-dasharray="" display="inline"/>    
            </svg>
      </div>
</div>