
      <div>
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg"
            id="grid" width="600" height="500" preserveAspectRatio="none" overflow="visible" (mousemove)="onMoveFraction($event)">
            <g id="groupWrapper" >
               <g id="groupCanvas" transform="translate(80, 25)" cursor="default">
                  <rect id="backgroundCanvas" x="-1" y="-1" width="502" height="411" stroke="blue" style="fill:white;stroke-width:1;fill-opacity:0;stroke-opacity:1"/>

                  <svg:g id="backgroundImage">
                     <image id="backgroundimage_1" transform="translate(-0.5, -0.5)" [attr.xlink:href]="backgroundImg" x="0" y="0" width="500" height="410" display="inline"/>
                   </svg:g>
                                    
                   <rect xmlns="http://www.w3.org/2000/svg" id="rect_1_3" x="20" y="10" width="460" height="110" fill="blue" (click)="activateLineSel($event,0)" [style.opacity]="selectedGraphLine == 0 ? 1 : 0"  fill-opacity="0.1" stroke="blue" stroke-width="1" stroke-opacity="1" stroke-dasharray="" display="inline"/>
                   <rect xmlns="http://www.w3.org/2000/svg" id="rect_1_5" x="20" y="230" width="460" height="110" fill="blue" (click)="activateLineSel($event,1)" [style.opacity]="selectedGraphLine == 1 ? 1 : 0" fill-opacity="0.1" stroke="blue" stroke-width="1" stroke-opacity="1" stroke-dasharray="" display="inline"/>
                   <rect xmlns="http://www.w3.org/2000/svg" id="rect_1_4" x="20" y="120" width="460" height="110" fill="blue" (click)="activateLineSel($event,2)" [style.opacity]="selectedGraphLine == 2 ? 1 : 0" fill-opacity="0.1" stroke="blue" stroke-width="1" stroke-opacity="1" stroke-dasharray="" display="inline"/> 
                  
                  
                  <svg:g id="Frac" (mousedown)="onFractionMouseDown($event)" >
                     <svg:image   xmlns:xlink="http://www.w3.org/1999/xlink" [attr.xlink:href]="targeFractionImg" display="inline" height="70" id="targetFrac" transform="translate(-0.5, -0.5)" width="20" [attr.x]="FractionXPos" [attr.y]="FractionYPos"></svg:image>
                     <svg:rect fill="none" transform="translate(-10, -5)" height="75" id="canvasimage_1_6_border" stroke="blue" stroke-width="2" width="40" [attr.x]="FractionXPos" [attr.y]="FractionYPos" xmlns="http://www.w3.org/2000/svg" [style.display]="fractionDisplay"></svg:rect>
                  </svg:g>
                 
               </g>
               <g id="groupFeedback" transform="translate(80, 440)" display="inline">
                  <rect id="backgroundFeedback" x="0" y="0" width="502" height="30" style="fill:white;stroke:lightblue;stroke-width:1;fill-opacity:0;stroke-opacity:1"/>
                  <text id="feedback" x="5" y="18" font-family="Arial" font-size="12" fill="blue" [style.display]="fractionDisplay">Release the mouse button or click again to place the fraction where you want it</text>
                  <text id="coordinates" x="450" y="18" font-family="Arial" font-size="12" fill="black"/>
               </g>
            </g>
         </svg>
      </div>
